<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>alias</th>
      <th>lon</th>
      <th>lat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>micasa</td>
      <td>-71.269199</td>
      <td>-29.898208</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ceaza</td>
      <td>-71.242216</td>
      <td>-29.914716</td>
    </tr>
    <tr>
      <th>2</th>
      <td>PLV</td>
      <td>-72.000000</td>
      <td>-30.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>santiago</td>
      <td>-71.000000</td>
      <td>-33.000000</td>
    </tr>
  </tbody>
</table>